/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.buttons{
  display: flex;
}

.Btn{
  margin: 8px;
  padding: 8px;
  
}

.blue-txt{
  color:blue;
}

.red-txt{
  color:red;
}

.navbar-dark{

background-color: rgb(41 38 38 / 94%);
color: white;

}

.navbar-ligth{

background-color: white;
color: black;
}

.container{

  display: flex;
  align-items: center;
  justify-content: center;


}

.alert-box{

height: 60px;

}
